@model IEnumerable<Flybilletter.Model.DomeneModel.Admin>

@{
    ViewBag.Title = "_ListAdministrator";
}

<h4>Registrerte administratorer</h4>
<div id="adminlist">

    <div class="form-group">
        <input class="sokListe input-sm form-control " placeholder="Søk" />
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Brukernavn
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="brukernavn">
                        @Html.DisplayFor(modelItem => item.Username)
                        <input class="editModel hidden input-xs text-box single-line" data-val="true" name="Username" type="hidden" value="@item.Username">
                    </td>
                    <td>
                        <!--Passord td-->
                        <input class="editModel hidden form-control input-xs text-box single-line" data-val="true" name="Gammelt" placeholder="Gammelt passord" style="margin-bottom: 0.5em;">
                        <input class="editModel hidden form-control input-xs text-box single-line" data-val="true" name="Nytt" placeholder="Nytt passord" style="margin-bottom: 0.5em;">
                        <input class="editModel hidden form-control input-xs text-box single-line" data-val="true" name="NyttBekreft" placeholder="Bekreft nytt passord">
                    </td>
                    <td>
                        @Html.ActionLink("Endre passord", "EndrePassord", new { id = item.Username }, new { @class = "endre btn btn-default", data_status = "endre" })
                        @Html.ActionLink("Lagre", "LagrePassord", new { id = item.Username }, new { @class = "lagre btn btn-default disabled" })
                        @if (item.Username != "root")
                        {
                            @Html.ActionLink("Slett", "SlettAdmin", new { Username = item.Username }, new { @class = "btn btn-danger slettKnapp" })
                        }
                        else
                        {
                            <a href="#" class="btn btn-default" title="Kan ikke slette root" data-toggle="tooltip">Slett</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.Partial("_SlettElementModal")

<script>
    $(function () {
        $(".endreKnapp").click(function (event) {
            event.preventDefault();

            //Vis input.bokser
            $(this).parents("tr").find(".editModel").toggleClass("hidden");
            //Aktiver knapp
            $(this).siblings(".lagreKnapp").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });

        $(".lagreKnapp").click(function (event) {
            event.preventDefault();

            var formData = $(this).parents("tr").find(".editModel").serialize();

            $.ajax({
                url: "/Admin/EndreAdmin",
                method: "POST",
                data: formData,
            }).done(function (response) {
                if (response === "true") {
                    location.reload();
                } else {
                    alert(response);
                }
                });
        });

        $('[data-toggle="tooltip"]').tooltip();

        //Data for list.js
        var options = {
            valueNames: ['brukernavn'],
            searchClass: "sokListe"
        };

        var adminerList = new List('adminlist', options);

    });
</script>
