@model IEnumerable<Flybilletter.Model.DomeneModel.Bestilling>

@{
    ViewBag.Title = "Bestillinger";
}

<h2>Bestillinger</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Referanse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BestillingsTidspunkt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Totalpris)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Referanse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BestillingsTidspunkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalpris)
            </td>
            <td>
                @Html.ActionLink("Detaljer", "SeDetaljerBestilling", new { referanse = item.Referanse }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Kanseller", "SlettBestilling", new { referanse = item.Referanse }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
