@model IEnumerable<Flybilletter.Model.DomeneModel.Fly>

@{
    ViewBag.Title = "Administrer fly";
}

<h2>FlyListe</h2>

<p>
    @Html.ActionLink("Legg til nytt fly", "LagFly")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Modell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AntallSeter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Modell)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AntallSeter)
        </td>
        <td>
            @Html.ActionLink("Endre", "RedigerFly", new { id=item.ID }, new { @class = "btn btn-default" }) |
            @Html.ActionLink("Slett", "SlettFly", new { id=item.ID }, new { @class = "kanseller btn btn-danger" })
        </td>
    </tr>
}

</table>

<script>
    $(function () {
        $(".kanseller").click(function (event) {
            event.preventDefault();
            var that = $(this);
            $.ajax({
                type: "POST",
                url: that.attr("href")
            }).done(function (response) {
                if (response == "True") {
                    that.parents("tr").remove();
                } else {
                    alert("En feil oppsto. Kan ikke slette");
                }
            });

        });


    });
</script>