@model Flybilletter.Model.DomeneModel.Flygning

@{
    ViewBag.Title = "Legg til ny Flygning";
    var jsSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    string jsonFly = jsSerializer.Serialize(ViewBag.Fly);
    string jsonRuter = jsSerializer.Serialize(ViewBag.Ruter);
}

<h2>Legg til ny flygning</h2>

@using (Html.BeginForm("LagreFlygning","Admin", new { ruteid="#Rute_ID", flyid="#fly" }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Rute (Fra - Til)</label>
                <select id="Ruter_ID" class="form-control"> </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <label>Fly (Antall seter)</label>
                <select id="fly" class="form-control"> </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Avgangstid</label>
                @Html.EditorFor(model => model.AvgangsTid, new { htmlAttributes = new { type = "datetime-local", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvgangsTid, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Lagre" class="btn btn-success" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Tilbake til listen", "Flygninger", new { }, new { @class = "btn btn-primary" })
</div>

<script>
    var fly = JSON.parse('@Html.Raw(jsonFly)');
    var ruter = JSON.parse('@Html.Raw(jsonRuter)');

    function populerFlySelectMedOptions(htmlElementID)
    {
        var utStreng = "";
        for (var i in fly) {
            var f = fly[i];
            utStreng += "<option value='" + f.ID + "'>" + f.Modell + " (" + f.AntallSeter + ")" + "</option>";
        }

        $(htmlElementID).empty().append(utStreng);
    }

    function populerRuterSelectMedOptions(htmlElementID) {
        var utStreng = "";
        for (var i in ruter) {
            var r = ruter[i];
            utStreng += "<option value='" + r.ID + "'>" + r.Fra.Navn + " - " + r.Til.Navn + "</option>";
        }

        $(htmlElementID).empty().append(utStreng);
    }

    $(document).ready(function () {
        populerFlySelectMedOptions("#fly");
        populerRuterSelectMedOptions("#Ruter_ID");
    });

</script>