@model IEnumerable<Flybilletter.Model.DomeneModel.Kunde>

@{
    ViewBag.Title = "Kunde Liste";
}

<h2>KundeListe</h2>

<div class="pull-right">
    <p>
        @Html.ActionLink("Lag ny kunde", "LagKunde", new { }, new { @class = "btn btn-primary" })
    </p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fodselsdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tlf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Postnr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poststed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fornavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etternavn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fodselsdag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tlf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postnr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poststed)
            </td>
            <td>
                @Html.ActionLink("Endre", "EndreKunde", new { id = item.ID }, new { @class = "btn btn-default" })
                @Html.ActionLink("Slett", "SlettKunde", new { id = item.ID }, new { @id = "slettKnapp", @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
@{
    if (Model.Count() >= 8)
    {
        <div class="pull-right">
            <p>
                @Html.ActionLink("Lag ny kunde", "LagKunde", new { }, new { @class = "btn btn-primary" })
            </p>
        </div>

    }
}

<div class="modal" id="sikkersletting" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Slette</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Er du sikker på at du vil slette?</label>
                    <button type="submit" id="slette" class="btn btn-success" value="true">Ja</button>
                    <button type="submit" id="ikkeslett" class="btn btn-danger" value="false">Nei</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#slettKnapp").click(function (event) {
            event.preventDefault();
            var that = $(this);
            $("#sikkersletting").modal("show");
            $("#slette").click(function (event2) {
                window.location.href = that.attr("href");
            });
            $("#ikkeslett").click(function (event3) {
                $("#sikkersletting").modal("hide");
                that = null;
            });

        });

        
    });

</script>
