@model IEnumerable<Flybilletter.Model.DomeneModel.Flygning>

@{
    ViewBag.Title = "Flygninger";
    var jsSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    string jsonFlygninger = jsSerializer.Serialize(Model);
}

@if (ViewBag.Feilmelding != null)
{
    <div class="alert alert-warning">
        @ViewBag.Feilmelding
    </div>
}

<h2>Flygninger</h2>

<p>
    @Html.ActionLink("Lag ny flygning", "LagFlygning", new { }, new { @class = "btn btn-primary" })
</p>

<div id="flygninger">

    <div class="form-group">
        <input class="sokListe input-sm form-control " placeholder="Søk" />
        <span class="help-block">I tillegg til data som vises i tabellen kan det også søkes på by og land.</span>
    </div>

    <div>
        <button class="sortListe btn btn-sm btn-info" data-sort="fraID">
            Sorter etter fra flyplass
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="tilID">
            Sorter etter til flyplass
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="avgang">
            Sorter etter avgangstid
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="ankomst">
            Sorter etter ankomsttid
        </button>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    Fra flyplass
                </th>
                <th colspan="2">
                    Til flyplass
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fly.Modell)
                </th>
                <th>
                    Avgangstid
                </th>
                <th>
                    Ankomsttid
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="fraID">
                        @item.Rute.Fra.ID
                        <input class="editModel hidden" data-val="true" data-val-number="The field ID must be a number." data-val-required="Feltet ID er obligatorisk." name="id" type="hidden" value="@item.ID">
                    </td>
                    <td class="fra">
                        @item.Rute.Fra.Navn
                        <span class="hidden">@item.Rute.Fra.By, @item.Rute.Fra.Land</span>
                    </td>
                    <td class="tilID">
                        @item.Rute.Til.ID
                    </td>
                    <td class="til">
                        @item.Rute.Til.Navn
                        <span class="hidden">@item.Rute.Til.By, @item.Rute.Til.Land</span>
                    </td>
                    <td class="fly">
                        @Html.DisplayFor(modelItem => item.Fly.Modell)
                    </td>
                    <td class="avgang">
                        <div class="displayModel">  @Html.DisplayFor(modelItem => item.AvgangsTid)</div>
                        <input class="form-control editModel input-xs hidden text-box single-line dato" data-val="true" data-val-date="The field avgangstid must be a date." data-val-required="Feltet avgangstid er obligatorisk." name="nyAvgangstid" style="max-width: 195px;" type="datetime-local" value="@item.AvgangsTid.ToString("yyyy-MM-ddTHH:mm", System.Globalization.CultureInfo.InvariantCulture)">
                        <span class="field-validation-valid text-danger" data-valmsg-for="item.AvgangsTid" data-valmsg-replace="true"></span>
                    </td>
                    <td class="ankomst">
                        @Html.DisplayFor(modelItem => item.AnkomstTid)
                    </td>
                    <td>
                        @Html.ActionLink("Endre", "EndreFlygning", new { id = item.ID }, new { @class = "endreKnapp btn btn-default", data_status = "endre" })
                        @Html.ActionLink("Lagre", "EndreFlygning", new { id = item.ID }, new { @class = "lagreKnapp btn btn-default disabled" })

                        @if (DateTime.Now < item.AvgangsTid && item.Kansellert == false)
                        {
                            @Html.ActionLink("Kanseller", "EndreStatusFlygning", new { id = item.ID }, new { @class = "slettKnapp btn btn-danger", data_val = "kansellere", data_tittel = "Kanseller" })
                        }
                        else if (DateTime.Now < item.AvgangsTid && item.Kansellert == true)
                        {
                            @Html.ActionLink("Aktiver", "EndreStatusFlygning", new { id = item.ID }, new { @class = "slettKnapp btn btn-success", data_val = "aktivere", data_tittel = "Aktiver" })
                        }
                        else
                        {
                            if (item.Kansellert == true)
                            {
                                <a href="#" class="btn btn-default" title="Flyet har allerede hatt avgang, kan derfor ikke aktiveres" data-toggle="tooltip">Aktiver</a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-default" title="Flyet har allerede hatt avgang, kan derfor ikke kansellere" data-toggle="tooltip">Kanseller</a>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Count() >= 8)
            {
    <p>
        @Html.ActionLink("Lag ny flygning", "LagFlygning", new { }, new { @class = "btn btn-primary" })
    </p>
}

<!--TODO: fiks dette til å bli dynamisk i forhold til hva som trykkes (Kanseller/Aktiver)-->
<div class="modal" id="sikkersletting" role="dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalEditAktiver"></h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Er du sikker på at du vil <span id="endreType"></span> flygningen?</label>
                    <button type="submit" id="slette" class="btn btn-success" value="true">Ja</button>
                    <button type="submit" id="ikkeslett" class="btn btn-danger" value="false">Nei</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $(".slettKnapp").click(function (event) {
            event.preventDefault();
            var that = $(this);

            $("#modalEditAktiver").html(that.data("tittel"));
            $("#endreType").html(that.data("val"));
            $("#sikkersletting").modal("show");

            $("#slette").click(function (event2) {
                window.location.href = that.attr("href");
            });
        });

        $("#ikkeslett").click(function (event) {
            $("#sikkersletting").modal("hide");

        });

        $(".endreKnapp").click(function (event) {
            event.preventDefault();

            //Vis input.bokser
            $(this).parents("tr").find(".editModel").toggleClass("hidden").removeAttr("disabled");
            //Gjem display-values
            $(this).parents("tr").find(".displayModel").toggleClass("hidden");
            //Aktiver knapp
            $(this).siblings(".lagreKnapp").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });


        $(".lagreKnapp").click(function (event) {
            event.preventDefault();

            var parent = $(this).parents("tr");
            var formData = parent.find(".editModel").serialize();
            if (parent.find(".dato").val() == "") {
                parent.find(".field-validation-valid").html("Ny avgangstid må være en gyldig dato med klokkeslett.");
                return;
            }


            $.ajax({
                url: "/Admin/EndreFlygning",
                method: "POST",
                data: formData
            }).done(function (response) {
                if (response === "true") {
                    location.reload();
                } else {
                    alert(response);
                }
            });

        });

        //Data for list.js
        var options = {
            valueNames: ['fra', 'fraID', 'til', 'tilID', 'fly', 'avgang', 'ankomst'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('flygninger', options);

    });

</script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>