@model IEnumerable<Flybilletter.Model.DomeneModel.Flyplass>

@{
    ViewBag.Title = "Flyplasser";
}

<h2>Flyplasser</h2>

<p>
    @Html.ActionLink("Lag ny flyplass", "NyFlyplass", new { }, new { @class = "btn btn-primary" })
</p>

<div id="flyplasser">

    <div class="form-group">
        <input class="sokListe input-sm form-control " placeholder="Søk" />
    </div>

    <div>
        <button class="sortListe btn btn-sm btn-info" data-sort="id">
            Sorter etter id
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="navn">
            Sorter etter navn
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="by">
            Sorter etter by
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="land">
            Sorter etter land
        </button>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Navn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.By)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Land)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="id">
                        @item.ID
                        @Html.HiddenFor(model => item.ID, new { @class = "editRute" })
                    </td>
                    <td class="navn">
                        <div class="displayRute">@item.Navn</div>
                        @Html.EditorFor(modelItem => item.Navn, new { htmlAttributes = new { @class = "hidden editRute input-xs", style = "max-width: 135px;" } })
                    </td>
                    <td class="by">
                        <div class="displayRute">@item.By</div>
                        @Html.EditorFor(modelItem => item.By, new { htmlAttributes = new { @class = "hidden editRute input-xs", style = "max-width: 115px;" } })
                    </td>
                    <td class="land">
                        <div class="displayRute">@item.Land</div>
                        @Html.EditorFor(modelItem => item.Land, new { htmlAttributes = new { @class = "hidden editRute input-xs", style = "max-width: 100px;" } })
                    </td>
                    <td>
                        @Html.ActionLink("Endre", "EndreFlyplass", new { id = item.ID }, new { @class = "endreKnapp btn btn-default", data_status = "endre" })
                        @Html.ActionLink("Lagre", "LagreFlyplass", new { id = item.ID }, new { @class = "lagreKnapp btn btn-default disabled" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@if (Model.Count() >= 8)
{
    <p>
        @Html.ActionLink("Legg til ny flyplass", "NyFlyplass", new { }, new { @class = "btn btn-primary" })
    </p>
}

<script>
    $(function () {

        $(".endreKnapp").click(function (event) {
            event.preventDefault();

            //Vis input.bokser
            $(this).parents("tr").find(".editRute").toggleClass("hidden");
            //Gjem display-values
            $(this).parents("tr").find(".displayRute").toggleClass("hidden");
            //Aktiver knapp
            $(this).siblings(".lagreKnapp").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });


        $(".lagreKnapp").click(function (event) {
            event.preventDefault();

            var formData = $(this).parents("tr").find(".editRute").serialize();

            $.ajax({
                url: "/Admin/EndreFlyplass",
                method: "POST",
                data: formData
            }).done(function (response) {
                if (response === "true") {
                    location.reload();
                } else {
                    alert(response);
                }
            });

        });


        //Data for list.js
        var options = {
            valueNames: ['id', 'navn', 'by', 'land'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('flyplasser', options);
    });

</script>
