@model IEnumerable<Flybilletter.Model.DomeneModel.Fly>

@{
    ViewBag.Title = "Fly";
}

<h2>Fly</h2>

@if (ViewBag.Feilmelding != null)
{
    <div class="alert alert-warning">
        @ViewBag.Feilmelding
    </div>
}

<p>
    @Html.ActionLink("Lag nytt fly", "LagFly", new { }, new { @class = "btn btn-primary" })
</p>
<div id="fly">
    <div class="form-group">
        <input class="sokListe input-sm form-control " placeholder="Søk" />
    </div>

    <div>
        <button class="sortListe btn btn-sm btn-info" data-sort="modell">
            Sorter etter modell
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="antallseter">
            Sorter etter antall seter
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Modell
                </th>
                <th>
                    Antall seter
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    @Html.HiddenFor(model => item.ID, new { @class = "editModel" })
                    <td class="modell">
                        <div class="displayModel">@Html.DisplayFor(modelItem => item.Modell)</div>
                        @Html.EditorFor(modelItem => item.Modell, new { htmlAttributes = new { @class = "editModel hidden input-xs", style = "max-width: 135px;" } })
                    </td>
                    <td class="antallseter">
                        <div class="displayModel">@Html.DisplayFor(modelItem => item.AntallSeter)</div>
                        @Html.EditorFor(modelItem => item.AntallSeter, new { htmlAttributes = new { @class = "editModel hidden input-xs", style = "max-width: 135px;" } })
                    </td>
                    <td>
                        @Html.ActionLink("Endre", "EndreFly", new { id = item.ID }, new { @class = "endre btn btn-default", data_status = "endre" })
                        @Html.ActionLink("Lagre", "LagreFly", new { id = item.ID }, new { @class = "lagre btn btn-default disabled" })
                        @Html.ActionLink("Slett", "SlettFly", new { id = item.ID }, new { @class = "slett btn btn-danger slettKnapp" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@if (Model.Count() >= 8)
{
    <p>
        @Html.ActionLink("Lag nytt fly", "LagFly", new { }, new { @class = "btn btn-primary" })
    </p>
}


@Html.Partial("_SlettElementModal")

<script>
    $(function () {
        

        //Data for list.js
        var options = {
            valueNames: ['modell', 'antallseter'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('fly', options);

        $(".endre").click(function (event) {
            event.preventDefault();

            //Vis input-bokser
            $(this).parents("tr").find(".editModel").toggleClass("hidden");
            //Gjem display-values
            $(this).parents("tr").find(".displayModel").toggleClass("hidden");
            //Aktiver lagre-knapp
            $(this).siblings(".lagre").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });

        $(".lagre").click(function (event) {
            event.preventDefault();
            
            var formData = $(this).parents("tr").find(".editModel").serialize();

            $.ajax({
                    url: "/Admin/EndreFly",
                method: "POST",
                data: formData
            }).done(function (response) {
                    if (response === "true") {
                        location.reload();
                    } else {
                        alert(response);
                    }
                });
        });
    });

</script>

