@model IEnumerable<Flybilletter.Model.DomeneModel.Flyplass>

@{
    ViewBag.Title = "Flyplasser";
}

<h2>Flyplasser</h2>

<p>
    @Html.ActionLink("Legg til ny flyplass", "NyFlyplass", new { }, new { @class = "btn btn-primary" })
</p>

<div id="flyplasser">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="id" style="margin-right: 0.5em;">
                Sorter etter fra id
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="navn" style="margin-right: 0.5em;">
                Sorter etter til navn
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="by" style="margin-right: 0.5em;">
                Sorter etter by
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="land" style="margin-right: 0.5em;">
                Sorter etter land
            </button>
        </span>
        <input class="sokListe form-control input-sm col-sm-3" placeholder="Søk" />
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Navn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.By)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Land)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <td class="id">
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td class="navn">
                        @Html.DisplayFor(modelItem => item.Navn)
                    </td>
                    <td class="by">
                        @Html.DisplayFor(modelItem => item.By)
                    </td>
                    <td class="land">
                        @Html.DisplayFor(modelItem => item.Land)
                    </td>
                    <td>
                        @Html.ActionLink("Endre", "EndreFlyplass", new { id = item.ID }, new { @class = "btn btn-primary" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@if (Model.Count() >= 8)
{
    <p>
        @Html.ActionLink("Legg til ny flyplass", "NyFlyplass", new { }, new { @class = "btn btn-primary" })
    </p>
}

<script>
    $(function () {
        //Data for list.js
        var options = {
            valueNames: ['id', 'navn', 'by', 'land'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('flyplasser', options);
    });

</script>
