@model IEnumerable<Flybilletter.Model.DomeneModel.Rute>

@{
    ViewBag.Title = "Ruter";
}

<h2>Ruter</h2>

<p>
    @Html.ActionLink("Lag ny rute", "LagRute", new { }, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fra.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Til.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BasePris)
        </th>
        <th></th>
    </tr>

    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <tr class="row-@i">
            <td>
                <div class="displayRute">@Html.DisplayFor(modelItem => item.Fra.ID)</div>
                @Html.EditorFor(modelItem => item.Fra.ID, new { htmlAttributes = new {@class = "hidden editRute" }  })
            </td>
            <td>
                <div class="displayRute">@Html.DisplayFor(modelItem => item.Til.ID)</div>
                @Html.EditorFor(modelItem => item.Til.ID, new { htmlAttributes = new { @class = "hidden editRute" } })
            </td>
            <td>
                <div class="displayRute">@Html.DisplayFor(modelItem => item.BasePris)</div>
                @Html.EditorFor(modelItem => item.BasePris, new { htmlAttributes = new { @class = "hidden editRute" } })
            </td>
            <td>
                @Html.ActionLink("Endre", "EndreRute", new { id = item.ID }, new { id = i, @class = "endreKnapp btn btn-default" })
                @Html.ActionLink("Slett", "SlettRute", new { id = item.ID }, new { @class = "slettKnapp btn btn-danger" })
            </td>
        </tr>
        i++;
    }

</table>

@Html.Partial("_SlettElementModal")

<script>
    $(function () {
        $(".endreKnapp").click(function (event) {
            event.preventDefault();
            $(this).parents("tr").find(".editRute").toggleClass("hidden");
            $(this).parents("tr").find(".displayRute").toggleClass("hidden");
        });


    });


</script>