@model IEnumerable<Flybilletter.Model.DomeneModel.Rute>

@{
    ViewBag.Title = "Ruter";
    var jsSerializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    string jsonFlyplasser = jsSerializer.Serialize(ViewBag.Flyplasser);
}

<h2>Ruter</h2>

@if (ViewBag.Feilmelding != null)
{
    <div class="alert alert-warning">
        @ViewBag.Feilmelding
    </div>
}
<p>
    @Html.ActionLink("Lag ny rute", "LagRute", new { }, new { @class = "btn btn-primary" })
</p>

<div id="ruter">
    <div class="input-group">
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="fraID" style="margin-right: 0.5em;">
                Sorter etter fra flyplass
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="tilID" style="margin-right: 0.5em;">
                Sorter etter til flyplass
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="reisetid" style="margin-right: 0.5em;">
                Sorter etter reisetid
            </button>
        </span>
        <span class="input-group-btn">
            <button class="sortListe btn btn-sm btn-info" data-sort="pris" style="margin-right: 0.5em;">
                Sorter etter pris
            </button>
        </span>
        <input class="sokListe form-control input-sm col-sm-3" placeholder="Søk" />
    </div>



    <table class="table">
        <thead>
            <tr>
                <th colspan="2">
                    Fra flyplass
                </th>
                <th colspan="2">
                    Til flyplass
                </th>
                <th>Reisetid</th>
                <th>
                    Pris
                </th>
                <th></th>
            </tr>
        </thead>


        <tbody class="list">
            @foreach (var rute in Model)
            {
                string reisetid = $"{rute.Reisetid.Hours} t {rute.Reisetid.Minutes} min";

                <tr>
                    @Html.HiddenFor(model => rute.ID, new { @class = "editModel" })
                    <td class="fraID">
                        <div class="fraflyplass displayModel">@rute.Fra.ID</div>
                        <select class="fraflyplass form-control hidden editModel input-xs" name="rute.Fra.ID" disabled> </select>
                    </td>
                    <td class="fraInfo">
                        @rute.Fra.Navn - @rute.Fra.By, @rute.Fra.Land
                    </td>
                    <td class="tilID">
                        <div class="displayModel tilflyplass">@rute.Til.ID</div>
                        <select class="tilflyplass form-control hidden editModel input-xs" name="rute.Til.ID" disabled> </select>
                    </td>
                    <td class="tilInfo">
                        <div>@rute.Til.Navn  - @rute.Til.By, @rute.Til.Land</div>
                    </td>
                    <td class="reisetid">
                        <div class="displayModel"> @reisetid </div>
                        @Html.EditorFor(modelrute => rute.Reisetid, new { htmlAttributes = new { @class = "hidden editModel input-xs ", disabled = "", style = "max-width: 85px;", type = "time" } })
                    </td>
                    <td class="pris">
                        <div class="displayModel">@Html.DisplayFor(modelrute => rute.BasePris)</div>
                        @Html.EditorFor(modelrute => rute.BasePris, new { htmlAttributes = new { @class = "hidden editModel input-xs", disabled = "", style = "max-width: 55px;" } })
                    </td>
                    <td>
                        @Html.ActionLink("Endre", "EndreRute", new { id = rute.ID }, new { @class = "endreKnapp btn btn-default", data_status = "endre" })
                        @Html.ActionLink("Lagre", "LagreRute", new { id = rute.ID }, new { @class = "lagreKnapp btn btn-default disabled" })
                        @Html.ActionLink("Slett", "SlettRute", new { id = rute.ID }, new { @class = "slettKnapp btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@if (Model.Count() >= 8)
{
    <p>
        @Html.ActionLink("Lag ny rute", "LagRute", new { }, new { @class = "btn btn-primary" })
    </p>
}

@Html.Partial("_SlettElementModal")

<script>
    $(function () {
        $(".endreKnapp").click(function (event) {
            event.preventDefault();
            var parent = $(this).parents("tr");
            //Vis input.bokser
            parent.find(".editModel").toggleClass("hidden").removeAttr("disabled");
            //Gjem display-values
            parent.find(".displayModel").toggleClass("hidden");
            //Aktiver knapp
            $(this).siblings(".lagreKnapp").toggleClass("disabled").toggleClass("btn-success").toggleClass("btn-default");

            if ($(this).data("status") === "endre") {
                $(this).text("Avbryt");
                $(this).data("status", "avbryt");
                populerFlyplassSelectMedOptions(parent.find(".fraflyplass.editModel"), parent.find(".fraflyplass.displayModel").html())
                populerFlyplassSelectMedOptions(parent.find(".tilflyplass.editModel"), parent.find(".tilflyplass.displayModel").html())
            } else {
                $(this).text("Endre");
                $(this).data("status", "endre");
            }
        });


        $(".lagreKnapp").click(function (event) {
            event.preventDefault();

            var formData = $(this).parents("tr").find(".editModel").serialize();

            $.ajax({
                url: "/Admin/LagreRute",
                method: "POST",
                data: formData,
            }).done(function (response) {
                if (response === "true") {
                    location.reload();
                } else {
                    alert(response);
                }
            });

        });


        //Data for list.js
        var options = {
            valueNames: ['fraID', 'fraInfo', 'tilID', 'tilInfo', 'reisetid', 'pris'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('ruter', options);
    });


    var flyplasser = JSON.parse('@Html.Raw(jsonFlyplasser)');

    function populerFlyplassSelectMedOptions(htmlElementID, settAktivFlyplassID)
    {
        var utStreng = "";
        var aktiv = "";
        for (var i in flyplasser) {
            var flyplass = flyplasser[i];
            if (flyplass.ID == settAktivFlyplassID)
            {
                aktiv = "selected";
            }
            utStreng += "<option value='" + flyplass.ID + "' " + aktiv + ">" + flyplass.ID + "</option>";
            aktiv = "";
        }

        htmlElementID.empty().append(utStreng);
    }

</script>
