@model IEnumerable<Flybilletter.Model.DomeneModel.Bestilling>

@{
    ViewBag.Title = "Bestillinger";
}

@if (ViewBag.Feilmelding != null)
{
    <div class="alert alert-warning">
        @ViewBag.Feilmelding
    </div>
}

<h2>Bestillinger</h2>
<div id="bestillinger">
    <p>Bestillinger kan legges til ved å gå til <a href="/Home/Sok">søk flygninger</a>.</p>
    <div class="form-group">
        <input class="sokListe input-sm form-control " placeholder="Søk" />
        <span class="help-block">I tillegg til data som vises i tabellen kan det også søkes på kunders fornavn, etternavn, telefon og e-post.</span>
    </div>

    <div>
        <button class="sortListe btn btn-sm btn-info" data-sort="referanse">
            Sorter etter referanse
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="bestil">
            Sorter etter bestillingstidspunkt
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="antallpass">
            Sorter etter antall passasjerer
        </button>


        <button class="sortListe btn btn-sm btn-info" data-sort="totalpris">
            Sorter etter totalpris
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Referanse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bestillingstidspunkt)
                </th>
                <th>
                    Antall passasjerer
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Totalpris)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody class="list">

            @foreach (var item in Model)
            {
                <tr>
                    <td class="referanse">
                        @Html.DisplayFor(modelItem => item.Referanse)
                    </td>
                    <td class="bestil">
                        @Html.DisplayFor(modelItem => item.Bestillingstidspunkt)
                    </td>
                    <td class="antalpass">
                        @item.Passasjerer.Count
                        @foreach (var passasjer in item.Passasjerer)
                        {
                        <span class="hidden">@passasjer.Fornavn @passasjer.Etternavn @passasjer.Tlf @passasjer.EPost</span>
                        }
                    </td>
                    <td class="totalpris">
                        @Html.DisplayFor(modelItem => item.Totalpris)
                    </td>
                    <td>
                        @Html.ActionLink("Detaljer", "SeDetaljerBestilling", new { referanse = item.Referanse }, new { @class = "btn btn-primary" })

                        @if (DateTime.Now < item.FlygningerTur.First().AvgangsTid)
                {
                            @Html.ActionLink("Slett", "SlettBestilling", new { referanse = item.Referanse }, new { @class = "slettknapp slettKnapp btn btn-danger" })
                        }
                        else
                        {
                            <a href="#" class="btn btn-default" title="Første fly har allerede hatt avgang, kan derfor ikke kansellere" data-toggle="tooltip">Slett</a>
                        }
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>

@Html.Partial("_SlettElementModal")

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
        /*
        $("#slette").click(function (event2) {          
            $(".slettknapp").click(function (event) {
                event.preventDefault();
                var that = $(this);
                $.ajax({
                    type: "POST",
                    url: that.attr("href")
                }).done(function (response) {
                    if (response == "True") {
                        that.parents("tr").remove();
                    } else {
                        alert("En feil oppsto. Kan ikke slette");
                    }
                });
            });

        });
        */

        //Data for list.js
        var options = {
            valueNames: ['referanse', 'bestil', 'antalpass', 'totalpris'],
            searchClass: "sokListe",
            sortClass: "sortListe"
        };

        var userList = new List('bestillinger', options);
    });
</script>